<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
	<title>Music Manager</title>
	<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>Music Management</h1>
		</div>

		<!-- include the Nav bar fragment-->
		<nav th:replace="~{includes/searchNav :: search}"></nav>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}" class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null" th:utext="${warningMessage}" class="alert alert-warning" role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}" class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->


		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">ID</th>
							<th data-sortable="true">Title</th>
							<th data-sortable="true">Album</th>
							<th data-sortable="true">Artist</th>
							<th data-sortable="true">Release date</th>
							<th data-sortable="true">Price</th>
							<th data-sortable="true">Parental ratings</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="song : ${#request.getAttribute('songs')}">
							<td th:text="${song.id}"></td>
							<td th:text="${song.songName}"></td>
							<td th:text="${song.album}"></td>
							<td th:text="${song.artist}"></td>
							<td th:text="${#dates.format(song.releaseDate,'dd.MM.yyyy')}"></td>
							<td><span th:text="${#numbers.formatDecimal(song.price, 0, 'COMMA', 2, 'POINT')}"></span> &euro;</td>
							<!-- <td><span th:text="${#numbers.formatCurrency(song.price)}"></span> &euro;</td>-->
							<td th:text="${song.ParentalRating}"></td>

							<td>
								<a th:href="@{/editSong(id=${song.id})}" class="btn btn-xs btn-success">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									Edit
								</a>

								<a th:href="@{/deleteSong(id=${song.id})}" class="btn btn-xs btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									Delete
								</a>

							</td>
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>